{% load static %}

<div class="container mt-3" style="margin-top: 90px !important;">
    <div class="container mt-1 profile-header">
        <nav class="navbar navbar-expand-lg mt-3">
            <div class="container-fluid profile-header">
                <a class="navbar-brand" href="#">Детальна інформація</a>
                <div class="" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ps-2">
                            <div class="btn-group">
                                <div>
                                    <a href="#" class="btn rounded-start profile-buttons profile-buttons-edit px-4"
                                       aria-current="page">Редагувати</a>
                                </div>
                                <a href="#" class="btn rounded-end profile-buttons px-3">
                                    <img src="{% static 'images/trash3.svg' %}" width="24" height="20" alt="User icon">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container mt-1 profile-container">
        <div class="row pt-3 ps-3">
            <div class="col-md-2 profile-image-col">
                {% if profile.profile_pic %}
                    <img src="{{ profile.profile_pic.url }}" class="img-fluid rounded-start" alt="Profile image">
                    {% else %}
                    <img src="{% static 'images/user_icon.png' %}" class="img-fluid rounded-start" alt="Profile image">
                {% endif %}
            </div>
            <div class="col">
                <div class="row ">
                    <div class="col-md-auto profile-items">
                            <span class="col">П.І.Б<br>
                            <b>{{ profile.full_name }}</b></span>
                    </div>
                    <div class="col-md-auto profile-items">
                        <span class="col">Номер телефону<br><b>{{ profile.phone_number}}</b></span>
                    </div>
                    <div class="col-md-auto profile-items">
                        <span class="col">Дата народження<br><b>{{ profile.data_of_birth }}</b></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-auto profile-items">
                            <span class="col">Адреса<br>
                            <b>{{ profile.address }}</b></span>
                    </div>
                    <div class="col-md-auto profile-items">
                        <span class="col">РНОКПП (ІПН)<br><b>{{ profile.identification_number }}</b></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="row ps-3 pb-3 pe-3">
            <div class="col-md-3" style="max-width: 300px;">
                <div class="row " style="width: 280px">
                    <div class="col profile-contact-buttons" style="margin-bottom: 10px">
                        <span class="col">Контакти</span>
                    </div>

                </div>
                <div class="row" style="width: 280px">
                    <div class="col profile-contact-buttons">
                        <span class="col">Пошук в контактах</span>
                    </div>
                </div>
            </div>

            <div class="col profile-comments-section">
                <span class="col">{{ profile.comments }}</span>
            </div>
        </div>

    </div>
</div>