.grd-main {
    background-image: linear-gradient(to bottom right, #E1EEB9, #CBE2AA, #92C3C5, #68ACDA);
}

.mx-lg-7 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
}

.icon-padding {
    padding-top: 0.25rem !important;
}

html {
    height: 100%;
}

.pe-lg-10 {
    padding-right: 20rem !important;
}

/*TODO rename class to searchbar-container*/
.search-btn-color {
    color: #1a1d20;
    background-color: white;
    border-radius: 10px;

}

.search-style-overwrite {
    border: white;
}

#searchbar:focus {
    border: white;
    outline: white;
}

#searchbar-btn-click:focus {
    border-color: white !important;
}

#searchbar-btn-click:hover {
    border-color: white !important;
    color: var(--bs-body-color);
}

#searchbar-btn-click:active {
    border-color: white !important;
}


.searchbar-image {
    padding-left: 25px !important;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
}

.inner-searchbar-block {
    border-left: 1px solid #bababa;
    border-right: 1px solid #bababa;
    padding-left: 20px;
    display: block;
    unicode-bidi: isolate;
}

.dropdown-toggle::after {
    outline: white !important;
}


.dropdown-toggle-custom {
    white-space: nowrap !important;
    width: 185px;
    padding-left: 0px !important;
    text-align: left;
    border-color: white !important;
}


.dropdown-image-arrow {
    background-image: url('../images/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right center;
    outline: 0;
}

.dropdown-left-setting {
    width: 160px !important;
    padding-left: 10px !important;
}

.dropdown-right-setting {
    background-position: 160px 11px !important;
}

.card-setting {
    width: 960px;
    height: 600px;
    overflow: scroll;
}

.card-item {
    border: 1px solid grey;
    padding: 8px;
    padding-right: 10px;
    padding-left: 13px;
    border-radius: 15px;
    text-align: center;
    max-width: 530px;
}

.card-item-comment {
    border-top: 1px solid #bababa;
    padding: 10px;
    max-width: 750px;
    margin-top: 15px;
}

.profile-buttons {
    color: grey;
    background-color: white;
    border-color: white;
    border-radius: 0px;
    padding: 13px;
}

.profile-buttons:focus {
    background-color: white !important;
    border-color: white !important;
}

.profile-buttons:hover {
    background-color: white !important;
    border-color: white !important;
    color: var(--bs-body-color);
}

.profile-buttons:active {
    color: var(--bs-body-color);
    background-color: white !important;
    border-color: white !important;
}

.profile-buttons-edit {
    border-right: 2px solid #bababa !important;
}

.profile-buttons-edit:hover {
    border-right: 2px solid #bababa !important;
}

.profile-buttons-edit:active {
    border-right: 2px solid #bababa !important;
}

.profile-buttons-edit:focus {
    border-right: 2px solid #bababa !important;
}

.profile-container {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
}

.profile-image-col {
    width: 280px;
    height: 220px;

    /*background-color: white;*/
    margin: 0px 20px 10px 0px;
    border-radius: 15px;
    overflow: hidden;
    padding: 0px !important;
}

.profile-contact-buttons {
    padding: 25px;
    background-color: white;
    border-radius: 15px;
    opacity: 70%;
    color: grey;
    width: 280px;
}

.profile-comments-section {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
}

.profile-items {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin: 0px 20px 10px 0px;
}

.profile-header {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.reset-link-style {
    color: inherit !important;
    text-decoration: none !important;
}

.reset-link-style:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.reset-link-style:focus {
    color: inherit !important;
    text-decoration: none !important;
}

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}