{% load static %}
<div class="container mt-5">

    <div class="height d-flex justify-content-center align-items-center p-4">
        <div class="d-flex flex-row mb-3 search-btn-color">
            <div class="p-2">
                <div class="dropdown">
                    <a class="btn dropdown-toggle-custom dropdown-image-arrow dropdown-left-setting" id="searchbar-btn-click" href="#" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="true">
                        Частковий збіг
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Частковий збіг</a></li>
                        <li><a class="dropdown-item" href="#">Повний збіг</a></li>
                        <li><a class="dropdown-item" href="#">Кінець з</a></li>
                        <li><a class="dropdown-item" href="#">Початок з</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="form p-2">
                    <div class="inner-searchbar-block">
                        {#                        <span><img class="bi bi-search" src="{% static 'images/search.svg' %}" height="17" alt=""></span>#}
                        <input type="text" id="searchbar"
                               class="searchbar-image form-input p-2 pe-lg-10 search-style-overwrite"
                               placeholder="Пошук">
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="dropdown">
                    <a class="btn dropdown-toggle-custom dropdown-image-arrow dropdown-right-setting" id="searchbar-btn-click" href="#" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="true">
                        Дата Народження
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">П.І.Б</a></li>
                        <li><a class="dropdown-item" href="#">Номер Телефону</a></li>
                        <li><a class="dropdown-item" href="#">Дата Народження</a></li>
                        <li><a class="dropdown-item" href="#">ІПН</a></li>
                        <li><a class="dropdown-item" href="#">Довільний текст</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>



